<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.School">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="num" property="num" />
        <result column="simple_name" property="simpleName" />
        <result column="full_name" property="fullName" />
        <result column="location" property="location" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, num, simple_name AS simpleName, full_name AS fullName, location, phone, status, createtime
    </sql>

</mapper>
