@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="查找" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MiniUser.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MiniUserTableToolbar" role="group">
                            @if(shiro.hasPermission("/miniUser/update")){
                            <#button name="修改" icon="fa-edit" clickFun="MiniUser.openMiniUserDetail()"/>
                            @}
                        </div>
                        <#table id="MiniUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/miniuser/miniUser.js"></script>
@}
