@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="pid" name="省份" underline="true">
                        @for(p in provinces){
                        <option value="${p.id}" ${p.id==item.pid?'selected':''}>${p.name}</option>
                        @}
                    </#select>

                    <#input id="simpleName" name="简称" value="${item.simpleName}" underline="true"/>
                    <#input id="fullName" name="全称" value="${item.fullName}" underline="true"/>
                    <#input id="num" name="排序" value="${item.num}" />
                </div>

                <div class="col-sm-6">
                    <#input id="location" name="位置" value="${item.location}" underline="true"/>
                    <#input id="phone" name="电话" value="${item.phone}" underline="true"/>
                    <#select id="status" name="状态">
                        <option value="1" ${1==item.status?'selected':''}>启用</option>
                        <option value="2" ${2==item.status?'selected':''}>冻结</option>
                        <option value="3" ${3==item.status?'selected':''}>删除</option>
                    </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SchoolInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SchoolInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/school/school_info.js"></script>
@}
