@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    @if(item.role==1){
                    <!--老师可能存在多个班级-->
                    <#select id="cids" name="班级" underline="true" multiple="multiple">
                        @for(c in classes){
                        <option value="${c.id}" ${c.id==parseInt(item.cids)?'selected':''}>${c.fullName}</option>
                        @}
                    </#select>
                    @}
                    @if(item.role!=1){
                    <!--而学生只能有一个班级-->
                    <#select id="cids" name="班级" underline="true">
                        @for(c in classes){
                        <option value="${c.id}" ${c.id==parseInt(item.cids)?'selected':''}>${c.fullName}</option>
                        @}
                    </#select>
                    @}
                    <#input id="realName" name="姓名" value="${item.realName}" underline="true"/>
                    @if(item.role!=1){
                    <!--老师没有学号-->
                    <#input id="studentId" name="学号" value="${item.studentId}"/>
                    @}
                </div>
                <div class="col-sm-6">
                    <#input id="phone" name="手机号" value="${item.phone}" underline="true"/>
                    <#select id="gender" name="性别" underline="true">
                        <option value="1" ${1==item.gender?'selected':''}>男</option>
                        <option value="2" ${2==item.gender?'selected':''}>女</option>
                        <option value="0" ${0==item.gender?'selected':''}>未知</option>
                    </#select>
                    @if(item.role!=1){
                    <!--只可以更改学生角色-->
                    <#select id="role" name="角色">
                        @for(d in dictList){
                        <option value="${d.num}" ${d.num==item.role?'selected':''}>${d.name}</option>
                        @}
                    </#select>
                    @}
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MiniUserInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MiniUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/miniuser/miniUser_info.js"></script>
@}
