<ol class="breadcrumb">
    <span class="text-muted">当前位置：</span>
    <li><a onclick="list();"> 网站公告</a></li>
    <li class="active" th:text="*{notice}?'编辑':'添加'"></li>
</ol>
<form class="col-xs-12 col-sm-10 col-lg-6 form-horizontal" id="editForm">
    <input type="hidden" name="admin.aid" id="admin.aid" th:value="${session.admin.aid}">
    <input type="hidden" name="nid" id="nid" th:value="*{notice}?*{notice.nid}:''">
    <div class="form-group">
        <label for="title" class="col-sm-3 col-lg-2 control-label">标题</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="title" name="title" th:value="*{notice}?*{notice.title}:''"
                   placeholder="标题...">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-3 col-lg-2 control-label">内容</label>
        <div class="col-sm-9 col-lg-10">
            <textarea class="form-control" id="content" name="content" th:text="*{notice}?*{notice.content}:''"
                      rows="8" placeholder="内容..."></textarea>
        </div>
    </div>
    <div class="form-group tip-form-group">
        <label class="text-danger col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10"></label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
<script>
    function list() {
        $('#main').load('/notice/list');
    }
    $('#editForm').validate({
        rules: {
            title: {
                required: true,
                maxlength: 30
            },
            content: {
                required: true,
                maxlength: 500
            }
        },
        messages: {
            title: {
                required: '公告标题不能为空',
                maxlength: '公告标题最大长度为30个字符'
            },
            content: {
                required: '公告内容不能为空',
                maxlength: '公告内容最大长度为500个字符'
            }
        },
        errorPlacement: function (error) {
            $('.text-danger').html(error);
        },
        submitHandler: function () {
            var index = layer.load(1, {time: 5 * 1000});
            var nid = $('#nid').val();
            var dt = $('#editForm').serialize();
            if (nid == null || nid == '') {
                $.ajax({
                    method: 'POST',
                    url: '/notice',
                    data: dt,
                    success: function (res) {
                        layer.close(index);
                        layer.msg('添加成功');
                        $('#main').load('/notice/list');
                    },
                    error: function () {
                        layer.close(index);
                        layer.msg('添加失败');
                    }
                });
            } else {
                $.ajax({
                    method: 'PUT',
                    url: '/notice/' + nid,
                    data: dt,
                    success: function (res) {
                        layer.close(index);
                        layer.msg(res.message);
                        $('#main').load('/notice/list');
                    },
                    error: function () {
                        layer.close(index);
                        layer.msg(res.message);
                    }
                });
            }
        }
    });
</script>