<h3 class="page-header">网站公告</h3>
<a class="btn btn-primary" onclick="add();">添加</a>
<a class="btn btn-danger">删除</a>
<div id="notice">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th style="width: 3%">
                    <input type="checkbox">
                </th>
                <th style="width: 14%">标题</th>
                <th style="width: 31%">公告内容</th>
                <th style="width: 12%" class="hidden-sm">发布人</th>
                <th style="width: 20%" class="hidden-sm">发布时间</th>
                <th style="width: 8%">查看</th>
                <th style="width: 12%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(notice,index) in noticePages.content">
                <td><input type="checkbox" name="uid" v-bind:value="notice.nid"></td>
                <td class="control-length" v-bind:title="notice.title">{{(noticePages.number+1-1)*noticePages.size+(index+1)}}.{{notice.title}}</td>
                <td class="control-length" v-bind:title="notice.content">{{notice.content}}</td>
                <td class="control-length hidden-sm" v-bind:title="notice.admin.nickname">{{notice.admin.nickname}}</td>
                <td class="hidden-sm">{{notice.postTime}}</td>
                <td>{{notice.visit}}次</td>
                <td>
                    <a v-on:click="edit(notice.nid)" class="text-success"> 编辑 </a>|
                    <a v-on:click="_delete(notice.nid,index,noticePages.number+1)" class="text-danger"> 删除 </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <span class="hidden-xs">共有 {{noticePages.totalElements}} 条记录，当前为第 {{noticePages.number+1}}/{{noticePages.totalPages}} 页</span>
    <span class="visible-xs">共{{noticePages.totalElements}}条记录,当前为第{{noticePages.number+1}}/{{noticePages.totalPages}}页</span>
    <nav aria-label="navigation" v-if="noticePages.totalPages!=1">
        <ul class="pager pull-right">
            <li v-bind:class="{'disabled':noticePages.first}"><a v-on:click="changePages(noticePages.number)">
                {{noticePages.first==true?'首页':'上一页'}}
            </a></li>
            <li v-bind:class="{'disabled':noticePages.last}"><a v-on:click="changePages(noticePages.number+2)">
                {{noticePages.last==true?'尾页':'下一页'}}
            </a></li>
        </ul>
    </nav>
    <hr>
</div>
<script type="text/javascript">
    function add() {
        $('#main').load('/notice/edit');
    }
    var vm = new Vue({
        el: '#notice',
        data: {
            noticePages: '',
            url: {
                list: '/notice/list/',
                notice: '/notice/'
            }
        },
        created: function () {
            this.$http.get(this.url.list + 1).then(function (res) {
                this.noticePages = res.body;
            });
        },
        methods: {
            changePages: function (pageNumber) {
                this.$http.get(this.url.list + pageNumber).then(function (res) {
                    this.noticePages = res.body;
                });
            },
            edit: function (nid) {
                $('#main').load('/notice/' + nid);
            },
            _delete: function (nid, i, pageNumber) {
                var _this = this;
                layer.confirm('你确定要删除这条公告吗？', {
                    title: '系统警告',
                    skin: 'layui-layer-lan',//layui-layer-molv
                    anim: 4, //动画类型0-7
                    icon: 2,//图标-1~7
                    btn: ['确认', '取消'] //按钮
                }, function () {
                    var index = layer.load(1, {time: 5 * 1000});
                    $.ajax({
                        type: 'DELETE',
                        url: _this.url.notice + nid + '?index=' + i + '&pageNumber=' + pageNumber,
                        success: function (res) {
                            _this.noticePages = res;
                            layer.close(index);
                            layer.msg('已删除');
                        },
                        error: function () {
                            layer.close(index);
                            layer.msg('删除失败');
                        }
                    });
                }, function () {
                    layer.msg('操作取消');
                });
            }
        }
    });
</script>