<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
<h3 class="page-header" id="order-page-header">订单信息</h3>
<div id="toolbarBox">
    <a class="btn btn-primary" disabled="disabled">添加</a>
    <a class="btn btn-danger">删除</a>
</div>
<div class="table-responsive">
    <table id="orderTable"></table>
</div>
<script>
    $(function () {
        init();
    });
    function init() {
        $('#orderTable').bootstrapTable({
            method: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            sidePagination: "server",//服务端分页
            url: "/order/page",
            toolbar: '#toolbarBox',//工具按钮用哪个容器
            showRefresh: true, //是否显示刷新功能
            pagination: true,  //是否显示分页信息
            showToggle: true,//显示切换按钮
            showColumns: true,//显示列
            showPaginationSwitch: true,//显示数据条数选择框
            cache: false, //是否使用缓存，默认为true
            uniqueId: "oid", //每一行的唯一标识，一般为主键列
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 5, //每页的记录行数
            pageList: [], //可供选择的每页的行数，空为不可选择
            //默认为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
            //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
            queryParamsType: '',
            columns: [
                {
                    selectItemName: 'oid',
                    checkbox: true,
                    width: '3%'
                },
                {
                    field: 'oid',
                    title: '订单编号',
                    width: '22%'
                }, {
                    field: 'sname',
                    title: '商品名称',
                    width: '20%'
                }, {
                    title: '购买价',
                    width: '10%',
                    formatter: function (value, row) {
                        var price = '¥' + row.sprice;
                        return price;
                    }
                }, {
                    field: 'createTime',
                    title: '下单时间',
                    width: '20%'
                }, {
                    title: '订单状态',
                    width: '12%',
                    formatter: function (value, row) {
                        var stateInfo = row.state == -1 ? '已作废' : row.state == 0 ? '未付款' : row.state == 1 ? '已付款' : '已发货';
                        var cls = row.state == -1 ? 'label label-warning' : row.state == 0 ? 'label label-default' : row.state == 1 ? 'label label-info' : 'label label-success';
                        var stateLabel = '<span class="' + cls + '">' + stateInfo + '</span>';
                        return stateLabel;
                    }
                }, {
                    title: '操作',
                    width: '10%',
                    formatter: function (value, row) {
                        var oid = "'" + $.trim(row.oid) + "'";
                        var info = row.state == -1 ? '恢复订单' : row.state == 0 ? '提醒付款' : row.state == 1 ? '商品发货' : '交易完成';
                        var cls = row.state == -1 ? 'label label-danger' : row.state == 0 ? 'label label-warning' : row.state == 1 ? 'label label-success' : 'label label-info';
                        var operation = '<span class="' + cls + '" onclick="operation(' + oid + ',' + row.state + ')">' + info + '</span>';
                        return operation;
                    }
                }],
            responseHandler: function (res) {
                return {
                    "pageNumber": res.number,
                    "total": res.totalElements,//总记录数
                    "rows": res.content   //当前页数据
                }
            }
        });
    }
    function operation(oid, state) {
        if (state == 2) {
            return;
        }
        var info = state == -1 ? '要恢复作废的订单吗？' : state == 0 ? '要提醒用户及时付款吗？' : '商品已经发货了吗？';
        layer.confirm('你确定' + info, {
            title: '系统提示',
            skin: 'layui-layer-lan',
            anim: 3,
            icon: 3,
            btn: ['确认', '取消']
        }, function () {
            $.post('/order/' + oid, {
                _method: 'PUT',
                state: state
            }).then(function (res) {
                layer.msg(res.message);
                if (res.success) {
                    $('#main').load('/order/list');
                }
            }, function () {
                layer.msg('操作失败');
            });
        }, function () {
            layer.msg('操作取消');
        });
    }
</script>