<ol class="breadcrumb">
    <span class="text-muted">当前位置：</span>
    <li><a onclick="list();"> 抢购管理</a></li>
    <li class="active" th:text="*{seckill}?'编辑':'添加'"></li>
</ol>
<form class="col-xs-12 col-sm-11 col-md-10 col-lg-7 form-horizontal" id="editForm">
    <input type="hidden" name="sid" id="sid" th:value="*{seckill}?*{seckill.sid}:''">
    <div class="form-group">
        <label for="sname" class="col-sm-3 col-lg-2 control-label">商品名称</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="sname" name="sname" th:value="*{seckill}?*{seckill.sname}:''"
                   placeholder="商品名称">
        </div>
    </div>
    <div class="form-group">
        <label for="startTime" class="col-sm-3 col-lg-2 control-label">开售时间</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="startTime" name="startTime"
                   th:value="*{seckill}?*{#calendars.format(seckill.startTime,'yyyy-MM-dd HH:mm:ss')}:''" placeholder="开售时间"
                   onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
    </div>
    <div class="form-group">
        <label for="startTime" class="col-sm-3 col-lg-2 control-label">结束时间</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="endTime" name="endTime"
                   th:value="*{seckill}?*{#calendars.format(seckill.endTime,'yyyy-MM-dd HH:mm:ss')}:''" placeholder="结束时间"
                   onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
    </div>
    <div class="form-group">
        <label for="snumber" class="col-sm-3 col-lg-2 control-label">商品库存</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="snumber" name="snumber"
                   th:value="*{seckill}?*{seckill.snumber}:''"
                   placeholder="库存数量">
        </div>
    </div>
    <div class="form-group">
        <label for="sprice" class="col-sm-3 col-lg-2 control-label">商品售价</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="sprice" name="sprice" th:value="*{seckill}?*{seckill.sprice}:''"
                   placeholder="商品售价">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">商品类型</label>
        <div class="col-sm-9 col-lg-10">
            <select class="form-control" name="scategory">
                <option value="手机" th:selected="*{seckill}?*{seckill.scategory=='手机'}">手机</option>
                <option value="笔记本" th:selected="*{seckill}?*{seckill.scategory=='笔记本'}">笔记本</option>
                <option value="其它" th:selected="*{seckill}?*{seckill.scategory=='其它'}">其它</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="surl" class="col-sm-3 col-lg-2 control-label">商品图片</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="surl" name="surl" th:value="*{seckill}?*{seckill.surl}:''"
                   placeholder="商品图片">
        </div>
    </div>
    <div class="form-group tip-form-group">
        <label class="text-danger col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10"></label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
<script th:src="@{/js/layui.js}"></script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
    })
    function list() {
        $('#main').load('/seckill/list');
    }
    $('#editForm').validate({
        rules: {
            sname: {
                required: true,
                maxlength: 50
            },
            snumber: {
                required: true
            },
            sprice: {
                required: true
            },
            startTime: {
                required: true
            },
            endTime: {
                required: true
            }
        },
        messages: {
            sname: {
                required: '商品名称为必填项',
                maxlength: '商品名称最大长度不超过50'
            },
            snumber: {
                required: '商品库存为必填项'
            },
            sprice: {
                required: '商品售价为必填项'
            },
            startTime: {
                required: '商品开售时间为必填项'
            },
            endTime: {
                required: '商品结束售卖时间为必填项'
            }
        },
        errorPlacement: function (error) {
            $('.text-danger').html(error);
        },
        submitHandler: function () {
            var index = layer.load(1, {time: 5 * 1000});
            var sid = $('#sid').val();
            var dt = $('#editForm').serialize();
            if (sid == null || sid == '') {
                $.ajax({
                    method: 'POST',
                    url: '/seckill',
                    data: dt,
                    success: function () {
                        layer.close(index);
                        layer.msg('添加成功');
                        $('#main').load('/seckill/list');
                    },
                    error: function () {
                        layer.close(index);
                        layer.msg('添加失败');
                    }
                });
            } else {
                $.ajax({
                    method: 'PUT',
                    url: '/seckill/' + sid,
                    data: dt,
                    success: function (res) {
                        layer.close(index);
                        layer.msg(res.message);
                        $('#main').load('/seckill/list');
                    },
                    error: function () {
                        layer.close(index);
                        layer.msg(res.message);
                    }
                });
            }
        }
    });
</script>