<ol class="breadcrumb">
    <span class="text-muted">当前位置：</span>
    <li><a onclick="list();"> 用户列表</a></li>
    <li class="active" th:text="*{user}?'编辑':'添加'"></li>
</ol>
<div class="col-sm-2 col-lg-2 form-horizontal">
    <label class="visible-xs control-label">头像</label>
    <img th:src="*{user}?*{user.icon==null||user.icon==''?'/images/headicon.png':user.icon}:'/images/headicon.png'"
         alt="头像" class="img-rounded" width="132">
</div>
<span class="visible-xs"><br></span>
<form class="col-xs-12 col-sm-10 col-md-8 col-lg-7 form-horizontal" id="editForm">
    <input type="hidden" name="uid" id="uid" th:value="*{user}?*{user.uid}:''">
    <div class="form-group">
        <label for="nickname" class="col-sm-3 col-lg-2 control-label">昵称</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="nickname，cannot be empty"
                   th:value="*{user}?*{user.nickname}:''">
        </div>
    </div>
    <div class="form-group">
        <label for="telephone" class="col-sm-3 col-lg-2 control-label">手机</label>
        <div class="col-sm-9 col-lg-10">
            <input type="text" class="form-control" id="telephone" name="telephone" placeholder="telephone"
                   th:value="*{user}?*{user.telephone}:''">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 col-lg-2 control-label">邮箱</label>
        <div class="col-sm-9 col-lg-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="email"
                   th:value="*{user}?*{user.email}:''">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">密码</label>
        <div class="col-sm-9 col-lg-10">
            <input th:type="*{user}?password:text" class="form-control"
                   placeholder="初始密码为123456" th:value="*{user}?*{user.password}"
                   disabled>
        </div>
    </div>
    <div class="form-group tip-form-group">
        <label class="text-danger col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10"></label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
<script th:inline="javascript">
    function list() {
        $('#main').load('/user/list');
    }
    $(function () {
        var nickname = $("#nickname").val();
        var telephone = $("#telephone").val();
        var email = $("#email").val();
        $.validator.addMethod('isTelephone', function (value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1})|(14[0-9]{1}))+\d{8})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, '错误的手机号码格式（Error telephone）');
        $('#editForm').validate({
            rules: {
                nickname: {
                    required: true
                },
                telephone: {
                    isTelephone: true
                },
                email: {
                    email: true
                }
            },
            messages: {
                nickname: {
                    required: '昵称不能为空（Nickname cannot be empty）'
                },
                email: {
                    email: '错误的邮箱格式（Error email）'
                }
            },
            errorPlacement: function (error) {
                $('.text-danger').html(error);
            },
            submitHandler: function () {
                var index = layer.load(1, {time: 5 * 1000});
                var uid = $('#uid').val();
                var dt = $('#editForm').serialize();
                if (uid == null || uid == '') {
                    $.ajax({
                        method: "POST",
                        url: '/user',
                        data: dt,
                        success: function () {
                            layer.close(index);
                            layer.msg('添加成功');
                            $('#main').load('/user/list');
                        },
                        error: function () {
                            layer.close(index);
                            layer.msg('添加失败');
                        }
                    });
                } else {
                    if (nickname == $("#nickname").val() && telephone == $("#telephone").val() && email == $("#email").val()) {
                        layer.close(index);
                        layer.msg('信息未变动');
                        return;
                    } else {
                        var uid = $('#uid').val();
                        $.ajax({
                            method: 'PUT',
                            url: '/user/' + uid,
                            data: dt,
                            success: function (res) {
                                layer.close(index);
                                layer.msg(res.message);
                                if (!res.success) {
                                    $('.text-danger').html(res.message);
                                } else {
                                    $('#main').load('/user/list');
                                }
                            },
                            error: function () {
                                layer.close(index);
                                layer.msg(res.message);
                            }
                        });
                    }
                }
            }
        });
    });
</script>