@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="sid" name="学校" underline="true">
                        @for(s in schools){
                        <option value="${s.id}" ${s.id==item.sid?'selected':''}>${s.fullName}</option>
                        @}
                    </#select>
                    <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                    <#input id="phone" name="手机号" value="${item.phone}" underline="true"/>
                    <#input id="password" name="密码" value="${item.password}"/>
                </div>

                <div class="col-sm-6">
                    <#select id="gender" name="性别" underline="true">
                        <option value="1" ${1==item.gender?'selected':''}>男</option>
                        <option value="2" ${2==item.gender?'selected':''}>女</option>
                    </#select>
                    <#input id="num" name="排序" value="${item.num}" underline="true"/>
                    <#select id="status" name="状态">
                        <option value="1" ${1==item.status?'selected':''}>启用</option>
                        <option value="2" ${2==item.status?'selected':''}>冻结</option>
                        <option value="3" ${3==item.status?'selected':''}>删除</option>
                    </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TeacherInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TeacherInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/teacher/teacher_info.js"></script>
@}
