@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
    <div class="row">
        <div class="col-sm-12">
            @for(notice in noticeList){
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                ${notice.content}
            </div>
            @}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                现在是北京时间：${date(),"yyyy-MM-dd HH:mm:ss"}
            </div>
        </div>
    </div>
</div>
@}
